
---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;

const response = await fetch('https://randomuser.me/api/');
const data = await response.json();
const randomUser = data.results[0];

// coffees : https://coffee.alexflipnote.dev/random.json

const coffeeResponse = await fetch('https://coffee.alexflipnote.dev/random.json');
const coffeeData = await coffeeResponse.json();
const coffeeImg = coffeeData.file;
console.log(` coffeeImg = [${coffeeImg}] `)

// https://techy-api.vercel.app/api/json

const techyResponse = await fetch('https://techy-api.vercel.app/api/json');
const techyData = await techyResponse.json();
const techyMessage = techyData.message;
console.log(` techyMessage = [${techyMessage}] `)


const picsumID = null;

// https://picsum.photos/id/1005/300/200
/**
 * 
 */
const picsumResponse = await fetch('https://picsum.photos/200/300').then(resp=> {

console.log(` Now Picsum Location is : ${resp.headers.get('location')}`);

console.log(` # ------------------------------------------------------`);
// console.log(resp.headers);
//console.log(JSON.stringify(resp, ' ' , 4));
console.log(resp);
console.log(JSON.stringify(resp, null));

console.log(` # ------- Picsum ID : `);

console.log(resp.headers.get('picsum-id'));
console.log(` # ------------------------------------------------------`);

  return resp.headers.get('picsum-id')
})
const randomFocusRegisterImage = `https://picsum.photos/id/${picsumResponse}/200/300`
console.log(` +++ picsum id : ${picsumResponse}`)
console.log(` +++ randomFocusRegisterImage : ${randomFocusRegisterImage}`)

// "https://picsum.photos/id/1005/300/200"
---


<div class="flex items-center w-full px-4 py-10 bg-cover card bg-base-200" style={"background-image: url('" + coffeeImg + "');" }>
  <div class="card glass lg:card-side text-neutral-content">
    <figure class="p-6">
      <img src={randomFocusRegisterImage} class="rounded-lg shadow-lg">
    </figure> 
    <div class="max-w-md card-body">
      <h2>3 Forges App ! Trois Forges, une pour l'indépendnance, une pour la technologie, et une pour l'open-source.</h2> 
      <p>{techyMessage}</p>
      <!-- div class="card-actions">
        <button class="btn glass rounded-full">Get Started</button>
      </div -->
      <!-- action ajoutée pour faire un register en mode Hero Jumbo -->
      <div class="card-actions">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-transparent">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text text-white">Email</span>
              </label>
              <input type="text" placeholder="email" class="input input-bordered text-black" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-white">Password</span>
              </label>
              <input type="text" placeholder="password" class="input input-borderedtext-black" />
              <label class="label">
                <a href="#" class="label-text-alt link link-hover text-orange-800">Forgot password?</a>
              </label>
            </div>
            
            <div class="form-control mt-2">
              <button class="m-2 btn glass rounded-full">Login</button>
              <hr class="mt-5 mb-2"/>
              Don't have an account ?
              <button class="m-2 btn btn-primary"> Register now!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" placeholder="email" class="input input-bordered text-black" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="text" placeholder="password" class="input input-bordered text-black" />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-0">
            <button class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>